body {
    background-color: rgb(246, 214, 220);
}

h1 {
    text-align: center;
    color: rgb(200, 119, 133);
    text-shadow: 2px 2px rgb(20, 19, 19);
    font-size: 40px;
}

.calculator {
    background-color: rgb(1, 20, 36);
    display: flex;
    flex-wrap: wrap;
    border-radius: 2%;
    max-width: 400px;
    height: 500px;
    margin: auto;
    padding: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
}

.buttons {
    background-color: rgb(1, 20, 36);
    min-width: 250px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

button, .display {
    background-color: brown;
    min-width: 90px;
    min-height: 60px;
    margin: 2px;
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;

}

.display {
    background-color: rgb(1, 20, 36);
    color: aliceblue;
    min-width: 300px;
    flex: 1;
    justify-content: right;
    padding-right: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

button {
    border-radius: 32%;
    background-color: antiquewhite;
    border: solid 2px rgb(244, 203, 191);
    font-size: 35px;
}

.number:hover, .dot:hover {
    background-color: #E0BFB8;
    transition: .15s ease;
}

.action:hover {
    background-color: #f1c40f;
    transition: .15s ease;
}

.clear:hover {
    background-color: #CD5C5C;
    transition: .15s ease;
}

.equal:hover {
    background-color: #006400;
    transition: .15s ease;
}

.equal {
    background-color: hsla(108, 55%, 49%, 0.7);
    border-radius: 5%;
    border: solid 2px rgb(39, 107, 69);
}

.clear {
    background-color: rgb(240, 144, 144);
    border: solid 2px rgb(140, 79, 65);
}

.action {
    background-color: rgb(240, 238, 144);
    border: solid 2px rgb(186, 175, 91);
}






